.bgdd {
    @apply col-span-4 min-h-[calc(100%-47.78px)];
    background-image: url('../../../public/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.hero-section{
    @apply bg-gray-800 text-white py-6 lg:px-48 md:px-32 sm:px-24 px-12 opacity-90 h-full
}

.belowtopbar {
    @apply md:grid lg:grid-cols-5 grid-cols-4 grid-flow-col z-0 min-h-[calc(100vh_-_47.78px)]
}