@tailwind base;
@tailwind components;
@tailwind utilities;

/* .clss1 {
    transition-delay: 0.3s;
}

.clss2 {
    transition-delay: 0.6s;
}

.clss3 {
    transition-delay: 0.3s;
}

.clss6 {
    transition-delay: 0.6s;
}

.clss9 {
    transition-delay: 0.3s;
}

.clss8 {
    transition-delay: 0.6s;
}

.clss7 {
    transition-delay: 0.3s;
}

.clss4 {
    transition-delay: 0.6s;
}

.clss5 {
    transition-delay: 0.9s;
} */

.linkcl {
    transition-delay: 1s;
}

.txs {
    font-size: 10px;
}