.topiclist {
    @apply px-4 pt-4 pb-[120px] rounded-lg;
    background-color: #712c82;
}

.belowlist {
    @apply bg-white px-8 py-12 mx-4 rounded-lg;
    margin-top: -100px;
    
    .link{
        font-weight: bold;
        color: #712c82;
    }

}